.avocado-container {
  background-image: url('http://i.huffpost.com/gen/2459402/images/o-AVOCADO-facebook.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  /* Preserved aspect-ration*/
  width: 600px;

  margin: 80px;

}
